<div class="container text-center features">
  <div class="features-title">
    <h2>Features designed for you</h2>
    <div class="features-title-text">
      We believe we have created the most efficient SaaS landing page for your
      users. Landing page with features that will convince you to use it for
      your SaaS business.
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 features-item">
      <div class="features-item-image">
        <img src="/assets/images/fatures/responsive-64.png" alt="" title="" />
      </div>
      <div class="features-item-title">
        <span>Responsive</span> Layout Template
      </div>
      <p class="features-item-text">
        Responsive code that makes your landing page look good on all devices
        (desktops, tablets, and phones). Created with mobile specialists.
      </p>
    </div>

    <div class="col-md-4 features-item">
      <div class="features-item-image">
        <img
          src="/assets/images/fatures/desktop-chart-64.png"
          alt=""
          title=""
        />
      </div>
      <div class="features-item-title">
        <span> SaaS Landing Page </span>Analysis
      </div>
      <p class="features-item-text">
        A perfect structure created after we analized trends in SaaS landing
        page designs. Analysis made to the most popular SaaS businesses.
      </p>
    </div>

    <div class="col-md-4 features-item">
      <div class="features-item-image">
        <img src="/assets/images/fatures/browser-64.png" alt="" title="" />
      </div>
      <div class="features-item-title">Smart <span>BEM</span> Grid</div>
      <p class="features-item-text">
        Blocks, Elements and Modifiers. A smart HTML/CSS structure that can
        easely be reused. Layout driven by the purpose of modularity.
      </p>
    </div>

    <div class="col-md-4 features-item">
      <div class="features-item-image">
        <img
          src="/assets/images/fatures/desktop-windows-64.png"
          alt=""
          title=""
        />
      </div>
      <div class="features-item-title">
        Multiple <span>Unique</span> Designs
      </div>
      <p class="features-item-text">
        Choose between multiple unique designs and easy integrate elements from
        one design to another. Following the latest design trends.
      </p>
    </div>
    <div class="col-md-4 features-item">
      <div class="features-item-image">
        <img src="/assets/images/fatures/customizer-64.png" alt="" title="" />
      </div>
      <div class="features-item-title"><span>Flexible</span> HTML Sections</div>
      <p class="features-item-text">
        Simple and Smart HTML code that works reintegrated in any part of the
        layout. Reuse the elements from one design to another.
      </p>
    </div>
    <div class="col-md-4 features-item">
      <div class="features-item-image">
        <img src="/assets/images/fatures/users-64.png" alt="" title="" />
      </div>
      <div class="features-item-title">User <span>Friendly</span></div>
      <p class="features-item-text">
        Easy to navigate. Made with user experience in mind, in order to provide
        the perfect landing page experience for your client.
      </p>
    </div>
  </div>
</div>
<div>
  <svg
    class="svg-features-bottom"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 100 100"
    preserveAspectRatio="none"
  >
    <polygon fill="#fff" points="0,100 100,0 100,100"></polygon>
  </svg>
</div>
