.company-logo {
  margin-left: 15px;
  margin-top: 15px;
  height: 80px;
  width: auto;
  &-text {
    height: 40px;
    vertical-align: bottom;
  }
}
.cont-widht {
  width: 1440px !important;
}
.content {
  position: relative;

  width: 100%;
  // max-width: 1440px;
  height: 640px;
  margin: 10px auto;
  z-index: 50;
  text-align: center;
  // position: absolute;
  // width: 100%;
  // height: 100%;
  // overflow: hidden;
  // z-index: 2;
  // overflow: visible;
}
.container-box {
  width: 600px;
  height: 640px;
  // overflow-y: scroll;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 18px;
  // text-align: center;
  margin: 10px auto;
}

.globe {
  width: 200px !important;
  height: 200px !important;
  top: 280px;
  left: 200px;
  &-image {
    width: 100%;
    height: auto;
  }
}
.menu {
  position: relative;
  display: inline-block;
  width: 100%;
  z-index: 10;
}
.about_us {
  left: 0;
  top: 300px;
  background: rgba(88, 210, 154, 0.89);
}
.our_services {
  left: 90px;
  top: 160px;
  background: rgba(161, 11, 248, 0.89);
}
.our_experience {
  left: 240px;
  top: 80px;
  background: rgba(161, 11, 248, 0.89);
}
.blog {
  right: 90px;
  top: 160px;
  background: rgba(161, 11, 248, 0.89);
}
.contacts {
  right: 0;
  top: 300px;
  background: rgba(161, 11, 248, 0.89);
}
.info {
  overflow-x: auto;
  max-width: 1440px;
}

#menu > li {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  width: 99px;
  height: 99px;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
}
#menu > li > a {
  position: relative;
  display: block;
  font: 10px/12px Arial, sans-serif;
  color: #ff0;
  text-transform: uppercase;
  padding: 45px 0 41px;
  text-align: center;
}

#menu > li > strong,
#menu > li > span,
#menu > li > em {
  position: absolute;
  display: inline-block;

  z-index: -2;
  opacity: 0;
}

.contacts > strong,
.blog > strong,
.our_experience > strong,
.about_us > strong,
.our_services > strong {
  height: 22px;
  width: 22px;
  background: blue;
  border-radius: 12px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.contacts > em,
.blog > em,
.our_experience > em,
.about_us > em,
.our_services > em {
  height: 17px;
  width: 17px;
  background: black;
  border-radius: 12px;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.contacts > span,
.blog > span,
.our_experience > span,
.about_us > span,
.our_services > span {
  width: 2px;
  background: gray;
  -webkit-transition: all 0.5s ease-in-out 0.5s;
  -moz-transition: all 0.5s ease-in-out 0.5s;
  -o-transition: all 0.5s ease-in-out 0.5s;
  transition: all 0.5s ease-in-out 0.5s;
}

.contacts:hover > strong,
.contacts:hover > em,
.contacts:hover > span,
.blog:hover > strong,
.blog:hover > em,
.blog:hover > span,
.our_experience:hover > strong,
.our_experience:hover > em,
.our_experience:hover > span,
.about_us:hover > strong,
.about_us:hover > em,
.about_us:hover > span,
.our_services:hover > strong,
.our_services:hover > em,
.our_services:hover > span {
  opacity: 1 !important;
}

.our_services {
  & strong {
    left: 120px;
    top: 150px;
  }
  & em {
    left: 70px;
    top: 85px;
  }
  & span {
    height: 80px;
    left: 100px;
    top: 80px;
    -ms-transform: rotate(-39.5deg); /* IE 9 */
    -webkit-transform: rotate(-39.5deg); /* Safari 3-8 */
    transform: rotate(-39.5deg);
  }
}

.about_us {
  & strong {
    left: 190px;
    top: 75px;
  }
  & em {
    left: 90px;
    top: 60px;
  }
  & span {
    height: 85px;
    left: 148px;
    top: 35px;
    -ms-transform: rotate(-80deg); /* IE 9 */
    -webkit-transform: rotate(-80deg); /* Safari 3-8 */
    transform: rotate(-80deg);
  }
}
.our_experience {
  & strong {
    left: 37px;
    top: 190px;
  }
  & em {
    left: 40px;
    top: 90px;
  }
  & span {
    height: 84px;
    left: 47px;
    top: 107px;
  }
}
.blog {
  & strong {
    left: -45px;
    top: 142px;
  }
  & em {
    left: 10px;
    top: 84px;
  }
  & span {
    height: 63px;
    left: -8px;
    top: 88px;
    -ms-transform: rotate(40deg); /* IE 9 */
    -webkit-transform: rotate(40deg); /* Safari 3-8 */
    transform: rotate(40deg);
  }
}
.contacts {
  & strong {
    left: -110px;
    top: 75px;
  }
  & em {
    left: -10px;
    top: 50px;
  }
  & span {
    height: 80px;
    left: -50px;
    top: 30px;
    -ms-transform: rotate(73deg); /* IE 9 */
    -webkit-transform: rotate(73deg); /* Safari 3-8 */
    transform: rotate(73deg);
  }
}
.info_page {
  display: inline-block;
  position: absolute;
  width: 359px;
  height: 650px;
  background: rgb(77, 77, 77);
  border-radius: 40px;
  margin-bottom: 100px;

  &-title {
    text-align: center;
    font-size: 24px;
    color: #f6f6f6;
    text-transform: uppercase;
    padding: 10px 0;
    border-bottom: 1px solid #f6f6f6;
  }
  &-back {
    cursor: pointer;
    color: white;
    text-align: center;
    padding: 5px 0;
    &:hover {
      font-weight: 600;
    }
  }
}

.about_us_page {
  left: -400px;
  top: 350px;
  &-line {
    position: absolute;
    display: inline-block;
    // color: black;
    width: 2px;
    background: gray;
    height: 70px;
    left: 384px;
    top: -10px;
    -ms-transform: rotate(-130deg); /* IE 9 */
    -webkit-transform: rotate(-130deg); /* Safari 3-8 */
    transform: rotate(-130deg);
  }
}
.contacts_page {
  &-line {
    position: absolute;
    display: inline-block;
    // color: black;
    width: 2px;
    background: gray;
    height: 66px;
    right: 385px;
    top: -10px;
    -ms-transform: rotate(120deg); /* IE 9 */
    -webkit-transform: rotate(120deg); /* Safari 3-8 */
    transform: rotate(120deg);
  }
  right: -400px;
  top: 350px;
}
.order_page {
  right: -400px;
  top: 50px;
  &-line {
    position: absolute;
    display: inline-block;
    width: 2px;
    background: gray;
    height: 149px;
    right: 426px;
    top: 8px;
    -ms-transform: rotate(66deg); /* IE 9 */
    -webkit-transform: rotate(66deg); /* Safari 3-8 */
    transform: rotate(66deg);
  }
}
.our_experience_page {
  right: -370px;
  top: -120px;
  &-line {
    position: absolute;
    display: inline-block;
    // color: black;
    width: 2px;
    background: gray;
    height: 314px;
    right: 496px;
    top: -30px;
    -ms-transform: rotate(62deg); /* IE 9 */
    -webkit-transform: rotate(62deg); /* Safari 3-8 */
    transform: rotate(62deg);
  }
  &-contents {
    width: 359px;
    height: 550px;
    overflow: scroll;
    padding-bottom: 20px;
    background: white;
    border-left: 2px solid rgb(100, 100, 100);
    border-right: 2px solid rgb(100, 100, 100);
    &-box {
      color: rgb(100, 100, 100);
      padding: 10px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
      border-bottom: 2px solid rgb(100, 100, 100);
      & img {
        max-width: 100%;
        max-height: 100px;
        padding: 10px 0;
      }
      & p {
        font-size: 16px;
        font-weight: 200;
        text-align: justify;
      }
    }
  }
}
.our_services_page {
  left: -400px;
  // right: 300px;
  top: 50px;
  &-line {
    position: absolute;
    display: inline-block;
    // color: black;
    width: 2px;
    background: gray;
    height: 150px;
    left: 426px;
    top: 8px;
    -ms-transform: rotate(-65deg); /* IE 9 */
    -webkit-transform: rotate(-65deg); /* Safari 3-8 */
    transform: rotate(-65deg);
  }
  &-contents {
    width: 359px;
    height: 550px;
    overflow: scroll;
    padding-bottom: 20px;
    background: rgb(100, 100, 100);
    &-box {
      color: white;
      padding: 10px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
      border-bottom: 1px solid #f6f6f6;
      &-title {
        font-size: 18px;
        font-weight: 200;
        & span {
          font-weight: 600;
        }
      }
      &-text {
        display: flex;
        &-left {
          flex: 0 0 20%;
          max-width: 20%;
          & img {
            width: 100%;
          }
        }
        &-right {
          padding-left: 10px;
          flex: 0 0 80%;
          max-width: 80%;
          font-size: 12px;
          font-weight: 100;
          text-align: justify;
        }
      }
    }
  }
}
