<div class="container text-center why-us">
  <img class="why-us-logo" src="assets/images/logo.png" alt="logo" />
  <div class="why-us-title1">
    WHY YOU SHOULD CHOOSE US
  </div>
  <div class="why-us-title2">
    Reasons to choose <strong> i Tech International </strong>
  </div>
  <div class="row my-3">
    <div class="col-md-2 col-6">
      <div class="why-us-card">
        <i class="fa fa-graduation-cap " aria-hidden="true"></i>
        <p>Qualified Experts</p>
      </div>
    </div>
    <div class="col-md-2 col-6">
      <div class="why-us-card">
        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
        <p>Service on Schedule</p>
      </div>
    </div>
    <div class="col-md-2 col-6">
      <div class="why-us-card">
        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
        <p>Quality Service</p>
      </div>
    </div>
    <div class="col-md-2 col-6">
      <div class="why-us-card">
        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
        <p>Affordable Prices</p>
      </div>
    </div>
    <div class="col-md-2 col-6">
      <div class="why-us-card">
        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
        <p>Help & Support</p>
      </div>
    </div>
    <div class="col-md-2 col-6">
      <div class="why-us-card">
        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
        <p>Built to perform</p>
      </div>
    </div>
  </div>
</div>
