<!-- <router-outlet></router-outlet> -->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>{{ title }}</h1>
      <cs-canvas-clock></cs-canvas-clock>

    </div>
    <div class="col-md-6">
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
      <h5>OUR WEBSITE IS COMING SOON </h5>
      <div>In the mean time connect with us with the information provided</div> 
      <div>Phone : 01840477707</div>
    </div>
  </div>
</div>
