<div class="container text-center ">
  <div class="title"><span>Simple</span> and <span>Smart</span></div>
  <div class="subtitle">Landing page templates for SaaS companies</div>
  <div class="description">For as low as <span>$2.95</span> per design</div>
  <div class="intro-buttons">
    <a href="index.html" class="btn btn-primary mx-3">TRY DEMO</a>
    <a href="index.html" class="btn btn-success mx-3">START NOW</a>
  </div>

  <div class="intro-animation">
    <div class="animation__play modal-toggle" data-openpopup="animation">
      <span></span>
    </div>
    <img src="/assets/images/intro-animation.png" alt="" title="" />
  </div>
</div>
<div>
  <svg
    class="svg-intro-bottom"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 100 100"
    preserveAspectRatio="none"
  >
    <polygon fill="#313ee7" points="0,100 100,0 100,100"></polygon>
  </svg>
</div>
