<product-navbar></product-navbar>
<div class="container">
  <div class="row">

    <div class="col-left">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let cat of categoryList" [class.active]="category == cat.slug"
          (click)="onCategorySelect(cat.slug)">{{cat.name}}
        </li>
      </ul>
    </div>

    <div class="col-right">
      <div class="cotainer">
        <!-- {{products | json}} -->
        <div class="row">
          <div class="col-md-4 col-6" *ngFor="let prod of products">
            <!-- {{prod.name}} -->
            <product-card1 [product]="prod"></product-card1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
