@media only screen and (max-width: 768px) {
  .container-box {
    width: 100%;
    height: inherit;
  }
  .company-logo {
    margin-left: 5px;
    margin-top: 5px;
    height: 50px;
  }

  .globe {
    width: 100px !important;
    height: 100px !important;
    top: calc(100vh / 2 - 80px);
    left: calc(100vw / 2 - 50px);
  }
  .our_experience {
    left: calc(100vw / 2 - 35px);
    top: calc(100vh / 2 - 100vw / 2 - 25px);
  }
  .our_services {
    left: calc(100vw / 4 - 30px);
    top: calc(100vh / 2 - 100vw / 3 - 45px);
  }
  .blog {
    right: calc(100vw / 4 - 30px);
    top: calc(100vh / 2 - 100vw / 3 - 45px);
  }
  .about_us {
    left: 5px;
    top: calc(100vh / 2 - 100px);
  }
  .contacts {
    right: 5px;
    top: calc(100vh / 2 - 100px);
  }

  #menu > li {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
  }
  #menu > li > a {
    padding: 30px 0 20px;
  }
  #menu > li > strong,
  #menu > li > span,
  #menu > li > em {
    display: none;
  }

  .our_experience_page,
  .our_services_page,
  .blog_page,
  .about_us_page,
  .contacts_page {
    left: 5px;
    top: calc(-100vh + 60px);
  }
}
